<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div>
      <p style="float: center;"><img src="images/TomatoJuice1L.png" height="200px" width="200px" class="center" border="1px"><p>
      <p><center><h2>Trace lot <%= lotid %></h2></center></p>
  </div>
  
    <%
      if (traceresult.length > 0) { 
    %>
    <div class="table-users">
      <div class="header">Trace Result</div>
      <table cellspacing="0">
        <tr>
            <th>Image</th>
            <th>Facility Name</th>
            <th>Facility Address</th>
            <th>Timestamp</th>
            <th>Event</th>
        </tr>
        <tr>

    <%

        for (i = 0; i < traceresult.length; i++) { %>
          <tr>
          <td><img src="<%= traceresult[i].image %>"></td>
          <td><%= traceresult[i].facility_name %></td>
          <td><%= traceresult[i].facility_address %></td>
          <td><%= traceresult[i].timestamp %></td>
          <td><%= traceresult[i].event %></td>
        </tr>
        <% } %>

      </table></div>
      <%
      } 
    %>
  </body>
</html>
